rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default-deny catch-all to secure any other potential collection path
    match /{document=**} {
      allow read, write: if false;
    }

    // categories rules
    match /categories/{categoryId} {
      allow read, write: if true;
    }

    // products rules
    match /products/{productId} {
      allow read, write: if true;
    }

    // orders rules
    match /orders/{orderId} {
      allow read, write: if true;
    }
  }
}
